html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

#background{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/listen.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}


#loginContainer *{
    color: #ffffff;
    font-family: "Helvetica Neu", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1em;
    box-sizing: border-box;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
    color:    #fff;
}

#loginContainer{
    width: 80%;
    margin: 0% auto;
    position: relative;
    max-width: 1024px;
}

#inputContainer{
    width: 400px;
    padding: 45px;
    float: left;
    border-right: 1px solid #ffffff;
}

#inputContainer h2{
    text-align: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"]{
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 100%;
}

#inputContainer label{
    color: #dedede;
    font-size: 13px;
    margin-top: 15px;
}

#inputContainer button{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 250px;
    color: #fff;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
    font-weight: bolder;
}

#inputContainer button:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 1);
}

.hasAccountText span{
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.hasAccountText{
    text-align: center;
}

#registerForm
{
    display: none;
}

#loginText{
    padding: 45px;
    display: table-cell;
}
#loginText h1{
    color: #07d159;
    font-size: 60px;
    font-weight: bold;
}

#loginText h2{
     margin: 35px 0px;
 }

#loginText ul{
    padding: 0px;
}

#loginText ul li{
    font-size:20px;
    list-style-type: none;
    padding: 10px;
}
#inputContainer .errorMessage{
    color: #07d159;
    font-size: 12px;
    display: block;
}