html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

*{
    font-family: "Helvetica Neu", "Helvetica", "Arial", sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

body{
    background-color: #181818;
    font-size: 14px;
    min-width: 720px;
}
#nowPlayingContainer{
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}
#nowPlayingBar{
    display:flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}
#nowPlayingRight{
    position: relative;
    margin-top: 16px;
    width: 30%;
    min-width: 180px;
}

#nowPlayingLeft{
    width: 30%;
    min-width: 180px;
}


#nowPlayingCenter{
    width: 40%;
    max-width: 700px;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content{
    width:100%;
    height: 57px;
}

.playerControls .buttons{
    margin: 0 auto;
    display: table;
}

.controlButton{
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton img{
    width: 20px;
    height: 20px;
}

.controlButton.play img,
.controlButton.pause img{
    width: 32px;
    height: 32px;
}

.controlButton:hover{
    cursor: pointer;
}

.progressTime{
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.progressBar{
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.playbackBar{
    display: flex;
}

.progressBarBg{
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress{
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.playbackBar .progressBar{
    margin-top: 3px;
}

#nowPlayingLeft .albumArtWork{
    height: 100%;
    max-width: 57px;
    margin-right: 15px;
    float: left;
    background-size: cover; /*Resize if it is not square*/
}

#nowPlayingLeft .trackInfo{
    display: table;
}

#nowPlayingLeft .trackInfo .trackName{
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

#nowPlayingLeft .trackInfo .artistName{
    font-size: 12px;
    color: #a0a0a0;
}

.volumeBar{
    width: 180px;
    position: absolute;
    right: 0;
}

.volumeBar .progressBar{
    width: 125px;
}

#topContainer{
    min-height: 100%;
    width: 100%;
}

#navBarContainer{
    background-color: #000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#navBarContainer .navBar{
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}
.logo{
    margin-bottom: 14px;
}

.logo img{
    width: 32px;
}

.navBar .group{
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}

.navItem{
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItemLink{
    color: #a0a0a0;
    text-decoration: none;
}

.icon{
    position: absolute;
    right: 0;
    top: 6px;
    width: 25px;
    display: block;
    letter-spacing: 1px;
}

.navItem:hover{
    cursor: pointer;
}

#mainViewContainer{
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);
}

#mainContent{
    padding: 0 20px;
}

.pageHeadingBig{
    padding: 20px;
    text-align: center;
}

.gridViewItem{
    display: inline-block;
    margin-right: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 20px;
}

.gridViewItem:hover{
    cursor: pointer;
}

.gridViewItem img{
    width: 100%;
}

.gridViewInfo{
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gridViewItem a{
    text-decoration: none;
}

.entityInfo{
    padding: 40px 0px 10px 0px;
    display: inline-block;
    width: 100%;
}

.entityInfo .leftSection img{
    width: 100%;
}

.entityInfo .leftSection{
    width: 30%;
    float: left;
    max-width: 250px;
}

.entityInfo .rightSection{
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entityInfo .rightSection h2{
    margin-top: 0px;
}

.entityInfo .rightSection span{
    color: #939393;
    font-weight: 200;
}

.entityInfo .rightSection p{
    color: #939393;
    font-weight: 200;
}
.trackList{
    padding: 0;
}

.tracklistRow{
    height: 40px;
    padding: 15px 10px;
    list-style: none;
}
.tracklistRow span{
    color: #939393;
    font-weight: 200;
}

.tracklistRow:hover{
    background-color: #282828;
}

.tracklistRow .trackCount{
    width: 8%;
    float: left;
}

.tracklistRow .trackCount img{
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.tracklistRow:hover .trackCount img{
    visibility: visible;
}

.tracklistRow .trackCount span{
    visibility: visible;
}

.tracklistRow:hover .trackCount span{
    visibility: hidden;
}
.tracklistRow .trackInfo{
    width: 75%;
    float: left;
}

.tracklistRow .trackInfo .trackName{
    color: #fff;
    margin-bottom: 7px;
}

.tracklistRow .trackInfo span{
    display: block;
}
.tracklistRow .trackOptions{
    width: 5%;
    float: left;
    text-align: right;
}

.tracklistRow .trackOptions img{
    width: 15px;
    visibility: hidden;
}

.tracklistRow:hover .trackOptions img{
    visibility: visible;
}

.tracklistRow .trackDuration{
    width: 12%;
    float: left;
    text-align: right;
}

.playCurrentAlbum{
    background-color: transparent;
    border: 1px solid #1DB954;
    border-radius: 15px;
    line-height: 30px;
    min-width: 100px;
}

.playCurrentAlbum:hover{
    background-color: #1DB954;
    color: #fff;
    cursor: pointer;
}
.trackNamespan:hover,
.artistNamespan:hover,
.albumArtWork:hover
{
    cursor: pointer;
}
.searchCont{
    background-color: #242424;

    width: 100%;
}
.searchInput{
    width: calc(100% - 20px);
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -.005em;
    font-weight: 700;
    padding: 16px;
    margin: 0 20px;
    text-transform: none;
    caret-color: #1db954;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*Artist*/



.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.artistInfo{
    background-repeat: no-repeat;
}


